@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap')
@import "nullstyle.sass"
.wrapper
    min-height: 100%
    overflow: hidden
    display: flex
    flex-direction: column
._container
    max-width: 1166px
    margin: 0 auto
    padding: 0 10px
body
    background: #FAFAFA
    height: 100%

@import "header.sass"

.main
    flex: 1 1 auto
//-----------CONTENT-TOP-------------------------------------
.content-top
    width: 100%
    min-height: 924px
    background-image: url(../images/fon/background.jpg)
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: top
    padding: 184px 0 0 0

    &__container

        :not(:last-child)
            margin-bottom: 35px
    &__title
        max-width: 509px
        h1
            font-weight: 800
            font-size: 58px
            line-height: 80px
            letter-spacing: 0.2px
            color: #252B42

    &__text
        max-width: 376px
        p
            font-weight: 500
            font-size: 20px
            line-height: 30px
            letter-spacing: 0.2px
            color: #737373
    &__buttons

.button
    display: flex
    :not(:last-child)
        margin-right: 10px

    a
        border: 1px solid #0D5C63
        border-radius: 37px
        padding: 10px 36px
        font-size: 14px
        line-height: 28px
        text-align: center
        letter-spacing: 0.2px
        color: rgba(13, 92, 99, 1)

        &:hover
            background: #FF7B47
            border-radius: 37px
            border: none
            color: rgba(255, 255, 255, 1)
@media (max-width: 1250px)
    .content-top
        background-position: right

@media (max-width: 385px)
    .button
        flex-direction: column
        :not(:last-child)
            margin-right: 0
        a

            display: block
            width: 100%
//--------SERVICES----------------------------------------------
.services
    margin-top: -111px
    margin-bottom: 80px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(209px, 1fr))
    grid-gap: 30px

    @media ( max-width: 420px )
        grid-template-columns: 1fr
    &__item
        background: #FFFFFF
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07)
        padding: 35px 40px
        min-height: 242px
        :not(:last-child)
            margin-bottom: 10px
        &:hover
            cursor: pointer
            background: #0D5C63
            h1, p, svg
                color: #FFFFFF
            svg
                stroke: #FFFFFF
    &__icon

    &__title
        h1
            font-size: 24px
            line-height: 133%
            letter-spacing: 0.1px
            color: #252B42

    &__text
        p
            font-weight: 500
            font-size: 14px
            line-height: 142%
            letter-spacing: 0.2px
            color: #737373
//------------ADVANTAGES---------------------------------------------------------
.title-page
    font-size: 40px
    line-height: 142%
    letter-spacing: 0.2px
    color: #252B42
    text-align: center
    margin: 0 0 15px 0
.text-page
    font-weight: 500
    font-size: 14px
    line-height: 142%
    text-align: center
    letter-spacing: 0.2px
    color: #737373
    text-align: center

.card
    margin-top: 50px
    margin-bottom: 80px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(209px, 1fr))
    grid-gap: 30px

    &__item
        padding: 30px 40px
        background: #FFFFFF
        text-align: center
        :not(:last-child)
            margin-bottom: 10px
    &__icon
        height: 48px
        display: flex
        align-items: flex-end
        justify-content: center

    &__value
        font-size: 40px
        line-height: 57px
        letter-spacing: 0.2px
        color: #252B42
    &__text
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.1px
        color: #737373

@media ( max-width: 767px )
    .card
        margin-bottom: 40px

//----------Practice---------------------------------------------------
.practice

.practice-page

    &__title

        &__text

        &__card

.card

    &__item
        position: relative
        overflow: hidden
        min-height: 341px
        :not(:last-child)
            margin-bottom: 15px
        &--title
            h1
                font-size: 16px
                line-height: 24px
                etter-spacing: 0.1px
                color: #252B42
        &--text
            p
                font-weight: 500
                font-size: 14px
                line-height: 20px
                letter-spacing: 0.2px
                color: #737373
        &--img
            position: absolute
            left: 0
            bottom: 0
            width: 100%
@media ( max-width: 767px )
    .card
        &__item
            min-height: 250px
@import "footer.sass"

//---------Inform------------------------------------------------------
.inform
    background-color: #ffff
    padding: 100px 0
    &__title

    &__text

    &__content
        margin: 100px 0 0 0
        display: flex
        justify-content: space-between
.content
    &__video
        position: relative
        flex: 0 0 57%
        padding: 0 0 42% 0
        overflow: hidden
        img
            position: absolute
            top: 0
            left: 0
            object-fit: cover
            height: 100%
            max-width: 100%
.content
    &__text
        flex: 1 1 auto
        margin-left: 100px/1046px*100%

.text
    &__wrap
        :not(:last-child)
            margin: 0 0 30px 0

        &__title

        &__sub-title

.list
    margin: 30px 0 0 0
    &__item
        display: flex
        margin: 0 0 30px 0
    &__logo
        width: 32px
        height: 32px
        margin: 0 20px 0 0
    &__title
        font-size: 16px
        line-height: 150%
        letter-spacing: 0.1px
        color: #252B42
    &__text

@media ( max-width: 992px )
    .content
        &__text
            margin-left: 20px
@media ( max-width: 840px )
    .list
        margin: 20px 0 20px 0
    .inform
        padding: 50px 0
        &__content
            flex-direction: column-reverse
            margin: 50px 0 0 0

//---------Clients-------------------------------------------------------
.clients
    padding: 50px 0
    &__wrap
        display: grid
        grid-gap: 30px
        grid-template-columns: repeat(auto-fit, minmax(103px, 1fr))
    &__item
        margin: 0 0 10px 0

//---------Subscribe---------------------------------------------------------
.subscribe
    position: relative

    &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 77px
        background: #252B42
    &__content
        margin: 0 30px
        display: flex
        justify-content: space-between
        background: #17213C
        border-radius: 2px
        padding: 30px 50px
        align-items: center
        z-index: 2
        position: relative
    &__text
        margin: 0 180px 0 0
        font-size: 24px
        line-height: 133%
        letter-spacing: 0.1px
        color: #FFFFFF
        flex: 0 1 50%
    &__form
        display: flex
        background: #17213C
        justify-content: space-between
        flex: 0 1 50%
        max-width: 450px
        background: #F9F9F9
        border: 1px solid #E6E6E6
        box-sizing: border-box
        border-radius: 5px

    &__input
        background: #F9F9F9
        border: 1px solid #E6E6E6
        box-sizing: border-box
        border-radius: 5px 0 0 5px
        padding: 15px 20px
        min-height: 58px
        flex: 1 1 auto
    &__submit
        background: #FF7B47
        border: 1px solid #E6E6E6
        box-sizing: border-box
        border-radius: 0px 5px 5px 0px
        padding: 15px 22px
        font-size: 14px
        line-height: 28px
        text-align: center
        letter-spacing: 0.2px
        color: #FFFFFF
        min-height: 58px
        &:hover
            cursor: pointer
            background: #FFFFFF
            color: #FF7B47

@media ( max-width: 992px )
    .subscribe
        &__submit
            border-radius: 5px

        &__content
            flex-direction: column
            justify-content: center
            margin: 0
        &__text
            margin: 0 0 30px 0
@media ( max-width: 767px )
    .subscribe
        &__input
            text-align: center
            :not(:last-child)

        &__content
            padding: 20px 30px
        &__form
            flex-direction: column
            width: 100%
            input
                margin: 0 0 10px 0

//--------Contacts------------------------------------------------------
.contacts

    &__title
        margin: 80px 0 0 0

    &__text
        margin: 0 0 110px 0
        color: #252B42
        p
            font-weight: 600
            font-size: 14px
            line-height: 24px
            text-align: center
            letter-spacing: 0.2px
        h5
            font-size: 16px
            line-height: 24px
            text-align: center
            letter-spacing: 0.1px
    &__wrap
        min-height: 740px
        padding: 80px 0

    &__cards
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin: 0 0 68px 0
        :not(:last-child)
            margin: 0 30px 0 0

    &__item
        display: flex
        flex-direction: column
        padding: 50px 40px
        background: #FFFFFF
        align-items: center
        justify-content: center
        min-height: 333px
        max-width: 330px
        :not(:last-child)
            margin: 0 0 15px 0
        &:hover
            background: #252B42
            transition: transform .5s
            transform: scale(1.2)
            .contacts

                &__icon
                    svg > path
                        fill: #FFFFFF
                        stroke: #FFFFFF

                &__text
                    color: #ffff
                &__button
                    button
                        border: 1px solid #ffff
                        background: #252B42
                        color: #ffff

    &__icon
        width: 72px
        height: 72px

    &__button
        button
            border: 1px solid #FF7B47
            box-sizing: border-box
            border-radius: 5px
            font-weight: 600
            font-size: 14px
            line-height: 24px
            text-align: center
            letter-spacing: 0.2px
            color: #FF7B47
            padding: 10px 20px
            background: #ffffff
            &:hover
                cursor: pointer
                background: #ffffff
@media ( max-width: 1075px )
    .contacts
        &__wrap
            padding: 40px 0
@media ( max-width: 767px )
    .contacts
        &__title
            margin: 40px 0 0 0
        &__text
            margin: 0 0 50px 0
        &__cards
            flex-direction: column
            align-items: center
            margin: 0
            :not(:last-child)
                margin: 0 0 30px 0
