@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap')
@import "nullstyle.sass"
.wrapper
    min-height: 100%
    overflow: hidden
._container
    max-width: 1146px
    margin: 0 auto

.header

    &__menu

.menu

    &__list

    &__item

    &__link
